@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#logo img {
  width: 60px;
}

#menu {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.link-menu {
  text-decoration: none;
  color: #fff;
  background-color: #555; 
  padding: 0.5em 1em;
  border-radius: 5px;
}

.link-menu.f {
  background-color: #5b305a; 
}

.link-menu.l {
  background-color: #e49756; 
}

.link-menu.m {
  background-color: #e04b5a; 
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 3em;
  
}

main img#capa {
  width: 250px;
  border-radius: 8px;
}

#sec_ctd {
  max-width: 500px;
}


body.f main {
  background-color: #5b305a; 
  color: white;
}

body.l main {
  background-color: #e49756; 
  color: white;
}

body.m main {
  background-color: #473133; 
  color: white;
}


body.f main *,
body.l main *,
body.m main * {
  color: white !important; 
}

main h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
}


body:not(.f):not(.l):not(.m) main {
  background-color: #333; 
  color: #ddd;
}



#principal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

#principal img {
  width: 250px;
  border-radius: 5px;
}

#second {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  flex-wrap: wrap;
  background-color: white; 
}

.cartaz {
  text-decoration: none;
}

.capa {
  width: 180px;
  height: auto;
  border-radius: 4px;
}


#acesso.f {
  background-color: #5b305a;
  color: white;
  padding: 2em;
  font-family: 'Amatic SC';
  font-size: 1.2em;
  border-radius: 12px;
  text-align: center;
}

#acesso.f a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5em;
}


#acesso.l {
  background-color: #e49756;
  color: white;
  padding: 2em;
  font-family: 'Amatic SC';
  font-size: 1.5em;
  border-radius: 12px;
  text-align: center;
}

#acesso.l a {
  color: white;
  background-color: #e49756;
  text-decoration: none;
  padding: 0.5em 1em;
  display: inline-block;
  margin-top: 1em;
  border-radius: 8px;
}


#acesso.m {
  background-color: #e04b5a;
  color: white;
  padding: 2em;
  font-family: 'Amatic SC';
  border-radius: 12px;
  text-align: center;
}

#acesso.m img {
  width: 32px;
  margin: 0 10px;
}


#descricao {
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  font-family: 'Poppins';
  color: black;
  max-width: 400px;
}

#descricao h3 {
  font-family: 'Amatic SC';
  font-size: 2em;
  margin-bottom: 1em;
}


footer {
  background-color: #333;
  color: #ddd;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#email a {
  color: #ddd;
  text-decoration: none;
}

#social img {
  width: 24px;
  margin: 0 5px;
}